body{
    background-color: #E6E6FA;
}

#title{
    font-family: Informal Roman, serif;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    text-align: center;
}

#order{
    text-align: center;
    padding: 40px;
    font-size: 25px;
    font-family: SansSerif, serif;
}

#order-div{
    box-shadow: hsl(0,0%,60%) 0 0 16px;
    border-radius: 15px;
    background-color: white;
}

#profit{
    text-align: center;
    padding: 40px;
    font-size: 25px;
    font-family: SansSerif, serif;
}

#profit-div{
    box-shadow: hsl(0,0%,60%) 0 0 16px;
    border-radius: 15px;
    background-color: white;

}

#container-1{
    display: grid;
    grid-template-columns: 300px 300px;
    column-gap: 50px;
    justify-content: center;
}

#name{
    font-family: SansSerif, serif;
    font-size: 17px;
}

#date{
    font-family: SansSerif, serif;
    font-size: 13px;
}

#container-2{
    display: grid;
    grid-template-columns: 320px 400px;
    column-gap: 50px;
    justify-content: center;
}

#latest-order-div{

    padding: 7px;
    box-shadow: hsl(0,0%,60%) 0 0 16px;
    border-radius: 15px;
    height: 550px;
    background-color: white;
}

#log-div{

    padding: 7px;
    box-shadow: hsl(0,0%,60%) 0 0 16px;
    border-radius: 15px;

    background-color: white;
}

#sub{
    display: flex;
    justify-content: space-between;
}

#text{
    text-align: center;
    font-family: SansSerif, serif;
}

#view-a{
    text-decoration: none;
    color: black;
    text-align: center;
}

button {
    width: 25%;
    height: 25px;
    background-color: #E6E6FA;
    color: black;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
}

button:hover{
    background-color: grey;
}

#sub-div{
    border: solid #afafaf 1px;
    margin-top: 20px;
    padding: 4px;
    border-radius: 5px;
    box-shadow: hsl(0,0%,60%) 0 0 16px;
}

a{
    text-align: center;
    text-decoration: none;
    color: black;
}

#log-sub{
    border: solid #afafaf 1px;
    margin-top: 20px;
    padding: 2px;
    border-radius: 5px;
    box-shadow: hsl(0,0%,60%) 0 0 16px;
}
