body{
    font-family: SansSerif, serif;
}

.div {
    margin: 5px 5px 5px 5px;
    border: solid black 1px;
    background-color: lightgrey;
    width: 200px;
    text-align: center;

}

.list {
    width: 400px;
    text-align: center;
    margin-bottom: 10px;
    margin-left: 500px;
    height: 385px;
    box-shadow: hsl(0,0%,60%) 0 0 16px;
    border-radius: 5px;
    background-color: white;
}
.red{
    width: 500px;
}
body{
    background:#E6E6FA
}
.main-cointainer{
    text-align: center;
    width: 550px;
    background: white;
    border-radius: 5px;
    margin-left: 30%;
    margin-top: 10%;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px ;
    box-shadow: hsl(0,0%,60%) 0 0 16px;
    font-family: SansSerif, serif;
}


p{
    font-size: 20px;
}

