{% extends 'base.html' %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    {% block title %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
              crossorigin="anonymous">

    {% endblock %}
</head>
<body>
{% block content %}
        <div id="log-div">
            <h4 id="text">LOGS</h4>
            {% for logs in log %}
                <div id="log-sub">
                    <p id="name">{{ logs.log|title }}</p>
                    <p id="date">{{ logs.date_created }}</p>
                </div>
            {% endfor %}
        </div>
        <br>
{% endblock %}
</body>
</html>