{% extends 'base.html' %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {% load static %}
    {% block title %}
        <link rel="stylesheet" href="{% static 'css/list_category.css' %}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
              crossorigin="anonymous">


    {% endblock %}
</head>
<body>
{% block content %}

    {% load mptt_tags %}

    <div class="list">

        {% drilldown_tree_for_node category as subcategory %}
        {% for node,structure in subcategory|tree_info %}
            {% if structure.new_level %}
                <ul>
                <li>{% else %}</li>
                <li> {% endif %}
        {% if node == category %}
            <strong>{{ node.name|title }} ({{ node.get_products.count }}) <a class="a-tag"
                                                                     href="{% url 'list' node.pk %}">View</a></strong>
        {% else %}
            {{ node.name|title }} ({{ node.get_products.count }})  <a class="a-tag" href="{% url 'list' node.pk %}">View</a>
            {% if node.children %}
                <ul>
                    {% for nodes in node.children.all %}
                        <li>{{ nodes.name|title }} ({{ nodes.get_products.count }}) <a class="a-tag"
                                                                               href="{% url 'list' nodes.pk %}">View</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endif %}
        {% for level in structure.closed_levels %}</li></ul>{% endfor %}
        {% endfor %}


    </div>


{% endblock content %}
</body>
</html>
